
.chartContainer {
    gap: 10px;
    border: 1px solid var(--gray);
    border-radius: 25px;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(54, 53, 53, 0.121);
}

.subChartContainer {
    
}

.chart {
    border-radius: 20px;
    transition: 0.3s all;
    padding: 45px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subChart {
    border: 1px solid var(--gray);
    border-radius: 20px;
    transition: 0.3s all;
    padding: 45px;
    margin: 10px 0;
    box-shadow: 1px 1px 3px rgba(54, 53, 53, 0.121);
    background-color: rgb(222, 223, 223);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.chartsList {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}