.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--orange);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.title {
    font-weight: bold;
}

.pill {
    padding: 10px;
    background-color: var(--gray);
    border-radius: 10px;
}