.accessionControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.chart {
    margin-left: var(--container-size);
    width: calc(100% - var(--container-size));
}

.container {
    position: relative;
    display: flex;
    width: 100%;
    word-wrap: break-word;
    margin-top: var(--horizontal-bar-height);
    height: 100%;
    overflow-y: scroll;
}

.metricsContainer {
    width: var(--container-size);
    height: calc(100% - var(--horizontal-bar-height));
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: fixed;
    gap: 10px;
}

.horizontalContainer {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    height: var(--horizontal-bar-height);
    
    backdrop-filter: blur(50px);
    z-index: 2;
}

.container button, .horizontalContainer button, .fileLabel{
    min-width: 15px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 0.9em;

    background-color: var(--dark-accent);
    text-align: center;
    cursor: pointer;
}

.horizontalContainer button {
    background: transparent;
    border: 1px solid var(--gray);
}

.horizontalContainer button:hover, .horizontalContainer button[data-fixed = true] {
    background-color: var(--dark-accent);
    transition: .2s all;
}

.container button:hover, .horizontalContainer button:hover, .fileLabel:hover {
    filter: brightness(0.8);
}

.metrics {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.metrics input {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 0.9em;
}

.metrics .cell {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

input[type="file"] {
    display: none;
}

.controls .checkboxes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.controls .checkboxes label {
    font-size: 0.9em;
    width: 100%;;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.2s;
}

.controls .checkboxes label:hover {
    background-color: var(--dark-accent);
}

.controls .checkboxes input[type="checkbox"] {
    width: 12px;
    height: 12px;
    cursor: pointer;
    accent-color: var(--icons);
}

.results {
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    width: calc(100% - var(--container-size));
    margin-left: var(--container-size);
    margin-top: 5px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background-color: var(--gray);
    border-radius: 25px;
    font-size: 1.em;
}

.error :nth-child(1) {
    transform: rotate(90deg);
    font-size: 50px;
}

.filtersContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    position: relative;
    background-color: var(--dark-accent);
}

.filterInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.filterInputContainer .remove {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.filterInputContainer .icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 10px;
}

.filterInputContainer button {
    --size: 20px;
    width: var(--size);
    height: var(--size);
    
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.selectedElements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.elementsPill {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray);
}

.elementsPill button {
    background: transparent;
}

.inputControlsContainer {
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

.inputControlsContainer input {
    width: 85%;    
}

.inputControlsContainer button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


